#SignUpModalForm.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      = bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
          %h4.modal-title Crie uma conta
        .modal-body
          = f.email_field :email, label: 'Email', :required => true, :autofocus => true
          = f.password_field :password, label: 'Senha', :required => true
          = f.password_field :password_confirmation, label: 'Confirme a senha', :required => true
        .modal-footer
          %button.btn.btn-primary{:type => "submit"} Criar
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
