=include_gon

.container-fluid
  .row
    .col-xs-2
      %h3= "#{@period.number}ยบ Periodo"

%br
-if @period.subjects.count >= 1
  = render partial: 'periods/subjectstable', locals: { period: @period }
-else
  %p= 'Este periodo nao possui disciplinas'
