=include_gon
- tab("period")

.container-fluid
  .row
    .col-xs-2
      %h3= "#{@period.number}ยบ Periodo"

%br
-if @period.subjects.count >= 1
  = render "periods/subjectstable"
-else
  %p= "Este periodo nao possui disciplinas"
