#calendar .fc-today{
   background-color: #C5DDFC;
}

#calendar .fc-time-grid > .fc-bg{
  background-color: #EEEEEE;
}

#calendar .fc-event{
  text-decoration: none;
  border-radius: 0;
}

#calendar .fc-button{
  color: white;
  background-color: #1484E6;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

#calendar .fc-state-active{
  background-color: #0F5796;
}

#calendar .fc-toolbar h2{
  font-size: 25px;
}

#calendar .fc-toolbar {
  background-color: #EEEEEE;
  margin-bottom: 0;
  line-height: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*border: 1px solid #AAAAAA;*/
}

#calendar .fc-state-default{
  background-image: none;
}

#calendar .fc-event-container{
  margin: 0;
}

#calendar .fc-prev-button{
  border-top-left-radius: 5px;
}

#calendar .fc-agendaWeek-button{
  border-top-right-radius: 5px;
}

#calendar .fc-state-disabled{
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  background-color: #0F5796;
}

#calendar table {
  border-collapse: collapse;
}

#calendar table td, table th {
  border: 1px solid #AAAAAA;
}

#calendar table tr:first-child th {
  border-top: 0;
}

#calendar table tr:last-child td {
  border-bottom: 0;
}

#calendar table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

#calendar table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

/*#calendar .fc-widget-header{
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}*/

#calendar .fc-view{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #AAAAAA;
}
