#calendar .fc-today{
   background-color: #C5DDFC;
}

#calendar .fc-bg{
  background-color: #EEEEEE;
}

#calendar .fc th, .fc td{
  border-color: #AAAAAA;
}

#calendar .fc-event{
  text-decoration: none;
  border-radius: 0;
}

#calendar .fc-button{
  color: white;
  background-color: #1484E6;
  text-shadow: none;
}

#calendar .fc-state-active{
  background-color: #0F5796;
}

#calendar .fc-toolbar h2{
  font-size: 25px;
}

#calendar .fc-toolbar {
  background-color: #76BBD8;
  margin-bottom: none !important;
}

#calendar .fc-state-default{
  background-image: none;
}

#calendar body .fc{
  border-radius:1px;
}

#calendar .fc-event-container{
  margin: 0;
}
