body{
  padding-top: 50px;
  background-color: white;
}

a:link {
  text-decoration: none !important;
}
a:visited {
  text-decoration: none !important;
}
a:hover {
}
a:active {
}

.inline {
  display: inline-block;
}
