body{
  padding-top: 70px;
  padding-left: 0px;
  background-color: #FFFFFF;
}

.table .table-align {
  padding: 2px;
  border-radius: 4px;
}

.table .table-font{
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.table .date-font {
  font-size: 10px;
}

.table-align.table-font.azul {
  background-color: #007fff;
}

.table-align.table-font.amarelo {
  background-color: #ffcc00;
}

.table-align.table-font.verde {
  background-color: #008000;
}

.box {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.legenda {
  margin: 0;
  list-style: none;
}

.legenda li {
  display: inline;
}

.box.azul {
  border-left: 15px solid #007fff;
}

.box.amarelo {
  border-left: 15px solid #ffcc00;
}

.box.verde {
 border-left: 15px solid #008000;
}

.align-right {
	border: none;
  float: right;
}

.grey {
  background-color: #F8F8F8;
}

.login {
  background-color: #F8F8F8;
  border: 1px solid #e8e8e8;
  padding: 25px;
}

.centertext {
  text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	   background-color: #F8F8F8;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	   background-color: #FFFFFF;
}

.navbar-inner {
	background-color: #F8F8F8;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	  }

.navbar-fixed-top .navbar-inner{
  box-shadow: none;
  webkit-box-shadow: none;
}

.datewidth {
  width: 170px;
}

.gradewidth {
  width: 70px;
}

.center {
  display: inline-block;
}

.bottom {
  vertical-align: bottom;
}

/*table, th, td {
    border: 1px solid grey !important;
    border-collapse: collapse !important;
}*/

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.hiddenRow {
  padding: 0 !important;
}

/*ul.nav li a, ul.nav li a:visited {
    color: #E69700 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #E69700 !important;
}

ul.nav li.active a {
    color: #E69700 !important;
}*/

a:link {
  text-decoration: none !important;
}
a:visited {
  text-decoration: none !important;
}
a:hover {
}
a:active {
}

.orangetext {
  color: #e69700;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
