// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3{
	display: inline-block;
}

.subject-header{
  background-color: #3498DB;
  color: white;
}

button.subject_header:hover {
  color: #2C3E50;
}

button.subject_header:focus {
  color: white;
}
